<div>
    <form>
        <label>Comments</label>
        <input name="comment" type="textarea" data-comment-id="{{post_id}}"/>
        <button type="submit" id="comment-btn">Comment</button>
    </form>
</div>
<div>
    {{#each comments as |comment|}}
    <div>
        <p>{{comment.text}}</p>
        <p>- {{user.name}}, {{format_date comment.date_created}}</p>
    </div>
    {{/each}}
</div>