<div>
  <ul>
{{#each posts as |post| }}
    <li><a href="/edit/{{post.id}}">{{post.title}}</a></li>
{{/each}}
  </ul>
</div>
<div>
    <button><a href="/new-post">+ New Post</a></button>
</div>
<script src="./js/post.js"></script>