<section>
    <div>
        <h2>Edit Post</h2>
    </div>
    <form>
        <div>
            <label for="post-title-update">Title</label>
            <input type="text" id="post-title-update" value="{{posts.title}}"/>

            <label for="post-body-update">Content</label>
            <textarea>{{posts.text}}</textarea>
        </div>
        <button id="update-post-btn" data-update-id="{{posts.id}}">Update</button>
    </form>
</section>
<script src="/js/post.js"></script>