<div class="align-center row">
{{#each posts as |post| }}
<div class="card col-md-12">
    <h2 class="card-title card-header p-2 my-2"><a class="text-white text-decoration-none" href="/post-details/{{post.id}}">{{post.title}}</a></h2>
  <div class="card-body">
    <p class="card-text">{{post.text}}</p>
  </div>
</div>
{{/each}}
</div>