<h2>New Post</h2>
 <form class="new-post-form form">
    <div class="form-group row">
        <label for="post-title">Title</label>
        <input id="post-title-input" name="post-title" type="text"/>
    </div>
    <diV class="form-group row">
        <label for="post-content">Content</label>
        <textarea id="post-body-input" name="post-content" rows="5" cols="30"></textarea>
    </diV>
    <div class="form-group row">
        <button class="btn btn-primary text-white" type="submit" id="new-post-submit-btn">Create Post</button>
    </div>
 </form>
 <script src="./js/post.js"></script>